.footer {
    padding: 100px 0;
    background-color: var(--contrast-high);
    color: var(--surface-default);
}

.footer-info {
    max-width: 264px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--surface-default);
}
